@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #fff;
  font-family: "Otomanopee One", sans-serif;
  font-size: 20px;
  color: #555;
}

div, svg, img {
  position: absolute;
}

svg, .dust {
  pointer-events: none;
}

.dust, .intro {
  position:fixed;
  width:100%;
  height:100%;
}

.dust {
  background:radial-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.45));
}

.preTitle {
  left: 80px;
  top: 20px;
  font-size: 28px;
  color: #f84356;
}
@supports (-webkit-text-stroke: 2px black) {
  .preTitle {
    -webkit-text-stroke: 2px black;
  }
}

#godzillaTitle {
  left: 50px;
  top: 65px;
}

.blurb {
  width: 80%;
  left: 50px;
  bottom: 50px;
}

.blurb a {
  color:#222;
  font-size:15px;
}